:root {
  --nat-navbar-bg: #f5f1d7;
  --nat-navbar-bg-rgb: 245, 241, 215;
  --nat-navbar-text-color: black;
  --font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

html,

body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url('/ilabgif.gif');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f1d7 !important;
}

footer, footer a {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  border-radius: 15px;
  font-family: var(--font-family);
}

.navbar {
  background-color: var(--nat-navbar-bg);
  color: var(--nat-navbar-text-color);
  border-radius: 15px;
  padding: 10px 20px;
  font-family: var(--font-family);
}

h1 {
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6rem;
  flex-direction: column;
  background-color: #f5f1d7 !important;
}

.card-custom {
  background-color: #f5f1d7 !important;
  border-radius: 45px;
}

.card-footer {
  background-color: #f5f1d7 !important;
}

.card {
  background-color: #f5f1d7 !important;
  border-radius: 45px !important;
  font-family: 'Arial Rounded MT Bold', Arial, sans-serif !important;
}

.card-scrollable {
  max-height: 600px;
  overflow: auto;
  padding: 10px;
  background-color: #f5f1d7;
}

.custom-size {
  min-height: 800px;
  width: 1200px;
}
